* {
	font-family: Helvetica;
}

body {
	background-color: #24478F;
}

img {
	width: 1000px;
}

#container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	background-color: #FFF5EE;
}

#content {
	position: relative;
	padding: 20px 20px 20px 20px;
}

.partition {
	position: relative;
	background-color: #0066CC;
	height: 4px;
	margin: 30px 5px 0px 5px;
}

